.nav{
    top: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.links {
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding-right: 5px;
    padding-left: 5px;
}
.links:hover {
    text-decoration: underline;
}
.right-link {
    float: right;
}
.button-apps{
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
    margin-left: 1em;
    margin-top: -4px;
}
#git_logo {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: -5px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15rem;
}
#logo {
    width: 272px;
    height: 92px;
    margin-bottom: 2rem;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
}
#search-bar {
    width: 90%;
    font-size: 2rem;
    border-radius: 30px;
    border-color: rgba(32, 33, 36, 0.28);
    padding-right: 2em;
}
#search-bar:hover, #search-bar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
#search-glass {
    position: fixed;
    height: 25px;
    width: 25px;
    padding-left: 1em;
}
#microphone {
    position: relative;
    height: 25px;
    width: 25px;
    right: 35px;
}
.buttons {
    margin-top:30px;
}
.button {
    background-color: #f5f5f5;
    border: none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    outline: none;
}
.button:hover {
    box-shadow: 0 1px 1px 0 rgba(32, 33, 36, 0.28);
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ddd;
    background: #f2f2f2;
    color: #70757a;
    font-size: 1.4rem;
}
.footer-link {
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    padding-right: 5px;
    padding-left: 5px;
}
.footer-link:hover {
    text-decoration: underline;
}